<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Bitrader | Home{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ asset('assets/images/favicon.png') }}" type="image/x-icon">

  <!-- CSS global -->
  <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.min.css') }}">
  <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

  {% block stylesheets %}{% endblock %}
</head>

<body>

<div class="preloader">
    <img src="/assets/images/logo/preloader.png" alt="preloader icon">
  </div>

  <div class="lightdark-switch">
    <span class="dark-btn" id="btnSwitch"><img src="/assets/images/icon/moon.svg" alt="light-dark-switchbtn"
        class="swtich-icon"></span>
  </div>

  {# Header #}
  {% include 'partials/header.html.twig' %}

  <main>
    {% block body %}{% endblock %}
  </main>

  {# Footer #}
  {% include 'partials/footer.html.twig' %}

  <!-- JS global -->
<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/js/all.min.js') }}"></script>
<script src="{{ asset('assets/js/swiper-bundle.min.js') }}"></script>
<script src="{{ asset('assets/js/aos.js') }}"></script>
<script src="{{ asset('assets/js/fslightbox.js') }}"></script>
<script src="{{ asset('assets/js/purecounter_vanilla.js') }}"></script>
<script src="{{ asset('assets/js/custom.js') }}"></script>


  {% block javascripts %}{% endblock %}
</body>
</html>
